body{
    margin: 0;
    padding: 0;
    font-family: helvetica Neue, Helvetica, sans-serif;
}

header{
    background-color: black;
    color: white;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style-type: none;
    display: inline;
}

section{
    padding: 20px;
    display: flex;
}

div{
    background-color: red;
    width: 100px;
    margin: auto;
}


footer{
    background-color: black;
    color: white;
}